# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# --- Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# --- Terraform ---
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# --- Docker ---
*.log

# --- Sistemas Operacionais ---
.DS_Store
Thumbs.db

# --- IDEs/Editor ---
.vscode/
.idea/
*.iml
